body {
    margin: 0;
    background: #333;
}

#title {
    position: absolute;
    width: 40%;
    height: 10%;
    top: 0;
    left: 30%;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#time {
    position: absolute;
    height: 10%;
    right: 2%;
    top: 5%;
    color: #FFFFFF;
    font-size: 20px;
}

#l1 {
    position: absolute;
    width: 30%;
    height: 45%;
    left: 0;
    top: 10%;
    background: blueviolet;
}

#l2 {
    position: absolute;
    width: 30%;
    height: 45%;
    left: 0;
    top: 55%;
    background: blue;
}

#m1 {
    position: absolute;
    width: 35%;
    height: 30%;
    left: 30%;
    top: 10%;
}

.num {
    width: 25%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gold;
    font-size: 25px;
}

.txt {
    width: 25%;
    float: left;
    font-size: 14px;
    font-family: "Times New Roman", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#m2 {
    position: absolute;
    width: 35%;
    height: 60%;
    left: 30%;
    top: 40%;
    background: rebeccapurple;
}

#r {
    position: absolute;
    width: 35%;
    height: 90%;
    left: 65%;
    top: 10%;
    background: red;
}