<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemon Analysis</title>
    <link href="../static/css/main.css" rel="stylesheet">
    <script src="../static/js/jquery.js"></script>
</head>
<body>
<script>
    function getTime() {
        $.ajax({
            url: '/time',
            timeout: 10000,
            success: function (data) {
                $("#time").html(data);
            },
            error: function (err, type, errorThrown) {

            }
        })
    }
    setInterval(getTime, 1000);
</script>
<div id="title">Pokemon Analysis</div>
<div id="time">Time</div>
<div id="l1">L1</div>
<div id="l2">L2</div>
<div id="m1">
    <div class="num"><h1>123</h1></div>
    <div class="num"><h1>123</h1></div>
    <div class="num"><h1>123</h1></div>
    <div class="num"><h1>123</h1></div>
    <div class="txt"><h2>Pokemon</h2></div>
    <div class="txt"><h2>Ability</h2></div>
    <div class="txt"><h2>Skill</h2></div>
    <div class="txt"><h2>Generation</h2></div>
</div>
<div id="m2">M2</div>
<div id="r">R</div>

</body>
</html>